@import '@angular/material/prebuilt-themes/azure-blue.css';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #f5f7fa;
}

* {
  box-sizing: border-box;
}

.error-snackbar {
  --mdc-snackbar-container-color: #c62828;
  --mdc-snackbar-supporting-text-color: #fff;
}
